
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
   
    height:100vh;
    width: 100vw;

}
    
.div1 {
    grid-column: span 5 / span 5;
     border:2px solid black;
     background:navy;
     color:white;
     display:flex;
     justify-content:center;
     align-items:center;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
     
     background:green;
     padding:20px;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
    
    padding:10px;
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
     
     background:black;
     color:white;
     display:flex;
     justify-content:center;
     align-items:center;
     font-size:30px;
}
        
ul li{
    color:white;
    list-style:none;
    line-height:50px;
}